/* ------------------HOME-1 RESPONSIVE-START-------------- */
/* 320px-start */
@media (min-width: 320px) {
  header .nav-top .nav-right ul li {
  }

  .nav-menu-right {
    /* justify-content: flex-end; */
  }
}
/* 320px-End */

/* 768px-start */

@media (min-width: 768px) {
  header .nav-right ul li.extra-padding {
    padding: 0;
  }
}

/* 768px-End */

/* 1024px-start */

@media (min-width: 1024px) {
  header .nav-top .nav-right ul li.extra-padding {
    padding: 0 50px 0 34px;
  }
  header .nav-right ul li {
    margin-left: 16px;
  }
}

/* 1024px-End */

/* 1440px-start */
@media (max-width: 1440px) {
  body {
    margin-left: 6px;
  }
}
/* 1440px-End */

/* ------------------HOME-1 RESPONSIVE-END-------------- */


/* ------------------SHOP RESPONSIVE-START-------------- */
@media (min-width: 1440px) {
  .newslatter-service .newslatter-bg-wrapper{
    margin-bottom: 0 !important;
  }
}


@media (min-width: 1024px) {
  .newslatter-service .newslatter-bg-wrapper{
    margin-bottom: 0 !important;
  }

  .shipping-info .shipping-info-content.right {
    border-left: 0;
    border-top: 1px solid #000 !important;
  }
}

@media (min-width: 768px) {
  .pagination .pagination-wrapper{
    display: flex;
    justify-content: center;
  }

  .newslatter-service .newslatter-bg-wrapper{
    margin-bottom: 20px;
  }
  
}


@media (min-width: 320px) {
  .pagination .pagination-wrapper{
    display: flex;
    justify-content: center;
  }

  .shipping-info .shipping-info-content.right {
    border-top: 0;
  }
 
}
/* ------------------SHOP RESPONSIVE-END-------------- */
