/* ------------------HOME-1 RESPONSIVE-START-------------- */
/* 320px-start */
@media (min-width: 320px) {
  header .nav-top .nav-right ul li {
  }

  .nav-menu-right {
    /* justify-content: flex-end; */
  }
}
/* 320px-End */

/* 768px-start */

@media (min-width: 768px) {
  header .nav-right ul li.extra-padding {
    padding: 0;
  }
}

/* 768px-End */

/* 1024px-start */

@media (min-width: 1024px) {
  header .nav-top .nav-right ul li.extra-padding {
    padding: 0 50px 0 34px;
  }
  header .nav-right ul li {
    margin-left: 16px;
  }
}

/* 1024px-End */

/* 1440px-start */
@media (max-width: 1440px) {
  body {
    margin-left: 6px;
  }
}
/* 1440px-End */

/* ------------------HOME-1 RESPONSIVE-END-------------- */

/* ------------------SHOP RESPONSIVE-START-------------- */

@media (min-width: 320px) {
  .new-itemss {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .pagination .pagination-wrapper {
    display: flex;
    justify-content: center;
  }
  footer {
    padding-bottom: 70px;
  }

  .shipping-info .shipping-info-content.right {
    border-top: 0;
  }

  .newslatter-service .newslatter-bg-wrapper {
    margin-bottom: 20px;
    padding: 40px 6px;
  }
  .newslatter-service .newslatter-bg-wrapper .newslatter-form h2 {
    font-size: 3.5rem;
  }
  .newslatter-service .newslatter-bg-wrapper .newslatter-form p {
    font-size: 0.775rem;
    width: 100%;
  }

  .newslatter-service
    .newslatter-bg-wrapper
    .newslatter-form
    .sign-up
    form
    button {
    font-size: 0.675rem;
    padding: 20px 16px;
  }

  footer .footer-right ul {
    justify-content: center;
    align-items: end;
  }

  footer .footer-menu ul {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 16px;
  }

  footer .footer-right ul {
    margin-top: 20px;
  }
  footer .footer-menu ul li a {
    font-size: 0.55rem;
  }
  .back-to-top {
    left: 45%;
  }
}

@media (min-width: 768px) {
  .new-itemss {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .pagination .pagination-wrapper {
    display: flex;
    justify-content: center;
  }

  footer .footer-menu ul {
    gap: 30px;
  }

  footer .footer-right ul {
    margin-top: 20px;
  }
  footer .footer-menu ul li a {
    font-size: 0.75rem;
  }
  .newslatter-service .newslatter-bg-wrapper .newslatter-form h2 {
    font-size: 4.5rem;
  }
  .newslatter-service .newslatter-bg-wrapper .newslatter-form p {
    font-size: 1rem;
    width: 70%;
  }

  .newslatter-service .newslatter-bg-wrapper {
    padding: 62px 40px;
  }
  .newslatter-service
    .newslatter-bg-wrapper
    .newslatter-form
    .sign-up
    form
    button {
    font-size: 1.125rem;
    padding: 14px 40px;
  }
  .back-to-top {
    left: 50%;
  }
}

@media (min-width: 1024px) {
  .newslatter-service .newslatter-bg-wrapper {
    margin-bottom: 0 !important;
  }

  .shipping-info .shipping-info-content.right {
    border-left: 0;
    border-top: 1px solid #000 !important;
  }
  footer .footer-right ul {
    justify-content: flex-end;
    align-items: end;
  }
  footer .footer-menu ul {
    display: flex;
    align-items: end;
    justify-content: flex-start;
    gap: 20px;
  }

  footer .footer-right ul {
    justify-content: flex-end;
    align-items: end;
    margin-top: 0;
  }

  footer {
    padding-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .newslatter-service .newslatter-bg-wrapper {
    margin-bottom: 0 !important;
  }
}
/* ------------------SHOP RESPONSIVE-END-------------- */

/* ------------------SHOP-2-RESPONSIVE-START--------------- */

@media (min-width: 320px) {
  .main-banner
    .main-banner-content
    .main-banner-content-img
    .main-banner-content-img-title
    p {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .main-banner
    .main-banner-content
    .main-banner-content-img
    .main-banner-content-img-title
    p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
}

/* ------------------SHOP-2-RESPONSIVE-END--------------- */

/* -----------------------------PRODUCT-DETAILS-1-CSS-START ----------------------- */
@media (min-width: 320px) {
  .product-detail .product-detail-content .product-detail-content-img img {
    height: 425px;
  }

  .product-detail .product-detail-description .stock-available ul {
    gap: 20px;
  }

  .product-detail .product-detail-description .stock-available ul li {
    font-size: 0.65rem;
  }

  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:nth-child(3) {
    margin-left: -7px;
  }

  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:last-child {
    margin-left: -8px;
  }

  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:last-child::before {
    left: -5px;
  }

  .product-detail
    .product-detail-description
    .cart-section
    form
    button.add-cart {
    font-size: 0.8rem;
    padding: 0px 13px;
    margin-left: 8px;
  }

  .description-tabs ul.nav li.nav-item button {
    font-size: 0.65rem;
    padding: 14px 6px;
  }

  .description-tabs #myTabContent {
    padding: 36px 15px 40px 16px;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .product-detail .product-detail-content .product-detail-content-img img {
    height: 675px;
  }

  .product-detail .product-detail-description .stock-available ul {
    gap: 30px;
  }

  .product-detail .product-detail-description .stock-available ul li {
    font-size: 0.75rem;
  }

  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:nth-child(3) {
    margin-left: 0px;
  }

  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:last-child {
    margin-left: -10px;
  }
  .product-detail
    .product-detail-description
    .stock-available
    ul
    li:last-child::before {
    left: -8px;
  }

  .product-detail
    .product-detail-description
    .cart-section
    form
    button.add-cart {
    font-size: 1.125rem;
    padding: 14px 26px;
    margin-left: 20px;
  }

  .description-tabs ul.nav li.nav-item button {
    padding: 14px 20px;
    font-size: 0.875rem;
  }
  .description-tabs #myTabContent {
    padding: 36px 30px 40px 30px;
    font-size: 0.875rem;
    /* border-top: 1px solid transparent; */
  }
}

@media (min-width: 1025px) {
  .description-tabs ul.nav li.nav-item button {
    padding: 14px 30px;
  }
}

/* -----------------------------PRODUCT-DETAILS-1-CSS-END ------------------------ */
