:root {
  --body-color: #000000;
  --primary-color: #959595;
}

/* https://placehold.co/460x600 */

body {
  /* font-family: "Lato", sans-serif;
  font-family: "Playfair Display", serif; */
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  padding: 0;
}
button:focus,
input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--body-color);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* -------------header-START------------- */

/* ----top-navbar-start------ */
/* 
header .nav-top,
header .nav-top .nav-right ul li a {
  color: var(--primary-color);
}

header .nav-top {
  position: relative;
  padding: 8px 0;
}

header .nav-top::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  opacity: 40%;
  position: absolute;
}

header .top-text p {
  font-size: 0.75rem;
  margin-bottom: 0;
}

header .top-text p i,
header .nav-right ul li a i {
  padding-right: 6px;
}

header .nav-right ul li {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-left: 26px;
}

header .nav-right ul li.extra-padding {
  padding: 0 50px 0 34px;
}

header .nav-right ul li a {
  display: flex;
  align-items: center;
} */

/* ----top-navbar-end------ */

/* ----navbar-start------ */

/* nav.navbar {
  padding: 20px 0;
}

nav.navbar .navbar-brand h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 700;
}

nav.navbar ul,
.nav-menu nav.navbar ul {
  font-family: "Lato", sans-serif;
}

nav.navbar ul li.nav-item {
  margin-left: 30px;
}

nav.navbar ul li.nav-item a {
  color: var(--body-color);
}

nav.navbar ul li.nav-item:first-child {
  margin-left: 0;
}

/* nav-right-start */
nav.navbar .nav-right button span.cart-number {
  top: 5px;
  right: -9px;
}
*/

/* nav.navbar .nav-right {
  position: relative;
}

nav.navbar .nav-right button .hover-part input[type="search"] {
  width: 100%;
  border: 1px solid #000;
  font-size: 0.875rem;
  line-height: 1.7;
  padding: 10px 30px 10px 20px;
   position: absolute;
  top: 0;
  left: 0; 
} */

/* nav-right-end */

.navbar .container {
  display: block;
}

.nav-menu-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----navbar-end------ */

/* -------------header-END--------------- */

/* -----------carousel-START------------- */
.hero-slider #carouselExampleControls .carousel-inner .carousel-item {
  height: 700px;
}

/* carousel-middle-title */
.hero-slider #carouselExampleControls .carousel-inner .carousel-item img {
  height: 700px;
}
.hero-slider #carouselExampleControls .carousel-inner .carousel-item h2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 1.1;
}

.hero-slider
  #carouselExampleControls
  .carousel-inner
  .carousel-item
  .bottom-title {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
}

.hero-slider
  #carouselExampleControls
  .carousel-inner
  .carousel-item
  .bottom-title
  p {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.6;
}

.hero-slider
  #carouselExampleControls
  .carousel-inner
  .carousel-item
  .bottom-title
  span {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  line-height: 2.14;
}

.carousel-inner .carousel-item {
  position: relative;
}
.carousel-inner .carousel-item::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 40%;
}

.carousel-control-next,
.carousel-control-prev {
  top: 50%;
  left: -5px;
  right: auto;
  bottom: auto;
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  opacity: 1;
  transform: translateY(-50%);
}

.carousel-control-next {
  right: -5px;
  left: auto;
}

/* carousel-middle-title */

/* -----------carousel-END------------- */

/* ----------------look-body-start-------- */

.look-body {
  padding: 120px 0;
}

.look-body .body-look-content-img {
  position: relative;
}

.look-body .body-look-content-img img {
  width: 460px;
  height: 600px;
}

.look-body .body-look-content-img .absolute-section {
  width: 50%;
  bottom: 48px;
  left: 0;
}

.look-body .body-look-content-img .absolute-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  line-height: 1.18;
  margin-bottom: 0;
}

.look-body .body-look-content-img .absolute-section p {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  margin-top: 18px;
}

.look-body .body-look-content-img .absolute-section i {
  font-size: 1.5rem;
  line-height: 0.9;
  margin-top: 12px;
}

.look-body .look-body-video-wrapper .video-title {
  font-family: "Lato", sans-serif;
}

.look-body .look-body-video-wrapper .video-title h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 20px;
}

.look-body .look-body-video-wrapper .video-title span {
  font-size: 0.875rem;
  color: var(--primary-color);
  display: inline-block;
  margin-top: 6px;
}

/* ----------------look-body-start-------- */

/* --------New-items-section-START------- */
.new-items {
  /* padding-bottom: 114px; */
}

.new-items .new-items-title h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0;
}
.new-items .new-items-title p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 10px;
}

/*new-items-product-start  */

.new-items-product .new-items-product-wrapper .new-items-product-img img {
  width: 290px;
  height: 320px;
}

/* .wrapper-product {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
} */

/*---------- SLICK_SLIDER----- */
.slick-dots {
  position: absolute;
  top: -80px;
  left: 48%;
  /* transform: translateX(-50%); */
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-right: 15px;
}
.slick-dots li:last-child {
  margin-right: 0px;
}
.slick-dots li button {
  border: none;
  font-size: 0rem;
  /* height: 5px;
  width: 5px; */
  padding: 3px 3px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.slick-dots .slick-active button {
  background-color: var(--body-color);
}

/*----------- SLICK_SLIDER----- */

/* ------hover-start------- */
.new-items-product .new-items-product-wrapper .new-items-product-img {
  position: relative;
}

.new-items-product .new-items-product-wrapper .new-items-product-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 1;
  opacity: 40%;
  overflow: hidden;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img:hover
  .hover-icons {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  z-index: 100;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 90%);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .add-cart-icons
  a {
  background-color: var(--body-color);
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1.3;
  transition: all 0.3s;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .add-cart-icons
  a:hover {
  background-color: #fff;
  color: var(--body-color);
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .add-cart-icons
  a:nth-child(2) {
  margin: 0 4px;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .ratings-icons {
  margin-top: 10px;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .ratings-icons
  a {
  font-size: 0.75rem;
  line-height: 1.8;
  display: inline-block;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img
  .hover-icons
  .ratings-icons
  a:hover {
  color: #fff;
}

/* ------hover-end------- */

.new-items-product .new-items-product-wrapper .new-items-product-img .offers {
  background-color: #5064fa;
  color: #fff;
  font-size: 0.625rem;
  /* margin-left: 80px;
  margin-right: 80px;
  margin-top: -24px; */
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 40%;
  z-index: 5;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img-description {
  margin-top: 24px;
}
.new-items-product
  .new-items-product-wrapper
  .new-items-product-img-description
  p {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.new-items-product
  .new-items-product-wrapper
  .new-items-product-img-description
  span {
  font-family: "Playfair Display", serif;
  font-size: 0.875rem;
  color: var(--primary-color);
}

/*new-items-product-end  */

/* --------New-items-section-END --------*/

/* -----------sales-section-start------- */

.sales {
  padding-top: 110px;
}
.sales .sale-images {
  position: relative;
}
.sales .sale-images img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.sales .sale-images .absolute-title {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
}

.sales .sale-images .absolute-title h2,
.lookbook .lookbook .lookbook-image .absolute-title h2 {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  line-height: 1.18;
}

.sales .sale-images .absolute-title h2 span,
.lookbook .lookbook .lookbook-image .absolute-title h2 span {
  display: block;
}

.sales .sale-images .absolute-title p,
.lookbook .lookbook .lookbook-image .absolute-title p {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  margin-top: 18px;
  text-transform: uppercase;
}

.sales .sale-images .absolute-title a,
.lookbook .lookbook .lookbook-image .absolute-title a {
  font-size: 1.5rem;
  line-height: 0.9;
  display: block;
  margin-top: 10px;
}

/* -----------sales-section-ENd------- */

/* --------------SERVICE-SECTION-START--------- */
.service {
  padding-top: 220px;
  padding-bottom: 110px;
}
.service .service-wrapper {
  cursor: pointer;
}

.service .service-wrapper .service-title h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
}
.service .service-wrapper .service-title p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 0.1rem;
  margin-top: 12px;
}

.service .service-wrapper .service-title a {
  font-family: "Lato", sans-serif;
  color: #1ba3d9 !important;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.service .service-wrapper .service-title a i {
  margin-left: 4px;
  font-size: 0.675rem;
}

/* --------------SERVICE-SECTION-END--------- */

/* ---------NEWSLATTER-SECTION-START--------- */
.newslatter {
  padding-bottom: 120px;
}
.newslatter .newslatter-wrapper {
  background-image: url(../img/carousel-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 66px 50px;
}

.newslatter .newslatter-wrapper::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 40%;
}
.newslatter .newslatter-wrapper .newslatter-form {
  position: relative;
  z-index: 10;
}

.newslatter .newslatter-wrapper .newslatter-form h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  line-height: 1.18;
  margin-bottom: 0;
}

.newslatter .newslatter-wrapper .newslatter-form .sign-up form {
  position: relative;
  margin: 30px 0;
}
.newslatter .newslatter-wrapper .newslatter-form .sign-up form input {
}
.newslatter .newslatter-wrapper .newslatter-form .sign-up input[type="email"] {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  width: 100%;
  padding: 18px 26px;
  max-height: 60px;
  border: none;
}
.newslatter .newslatter-wrapper .newslatter-form .sign-up button {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 40px;
  border: 1px solid transparent;
  background-color: #cf2226;
  color: #fff;
  border: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
}

.newslatter .newslatter-wrapper .newslatter-form p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 500;
  width: 70%;
}

/* .instagram-part {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.instagram-part .photo {
  flex-basis: 32%;
}
.instagram-part .photo img {
  width: 120px;
  height: 130px;
} */

/* ---------NEWSLATTER-SECTION-END--------- */

/* --------------------------------HOME-PAGE-2 CSS START---------------------------------- */
/* -----nav-start----- */

.nav-menu {
  margin-top: 20px;
}
.nav-menu nav.navbar ul {
}

.nav-menu nav.navbar ul li.nav-item {
  font-size: 0.875rem;
  border-right: 1px solid var(--primary-color);
  border-top: 1px solid var(--primary-color);
  padding: 6px 55px;
  margin-left: 0;
}
.nav-menu nav.navbar ul li.nav-item:first-child {
  border-left: 1px solid var(--primary-color);
}

.nav-menu nav.navbar ul li.nav-item a.nav-link {
}

/* -----nav-end----- */

/* ----------Hero-slider-start------- */
.hero-slider {
}

.hero-slider #carouselExampleControls .carousel-inner .carousel-item h2.title {
  top: 50%;
  left: 40%;
  transform: translate(-30%, -60%);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 1.1;
}

/* ----------Hero-slider-END------- */

/* ----------MODULES SECTION-START------- */

.modules {
  padding: 30px 0;
}

.modules .catagory {
  padding: 30px;
}

.modules .catagory.catagory-1,
.modules .catagory.catagory-3 {
  border: 1px solid var(--body-color);
}

.modules .catagory.catagory-2 {
  border-top: 1px solid var(--body-color);
  border-bottom: 1px solid var(--body-color);
}

.modules .catagory .catagory-content {
  display: flex;
  align-items: center;
}

.modules .catagory .catagory-content .catagory-photo img {
  width: 100px;
  height: 100px;
}

.modules .catagory .catagory-content .catagory-photo-description {
  margin-left: 20px;
}

.modules .catagory .catagory-content .catagory-photo-description h4 {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
}

.modules .catagory .catagory-content .catagory-photo-description span {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 0.875rem;
  color: var(--primary-color);
}

/* ----------MODULES SECTION-END------- */

/* ------------LOOKBOOK SECTION-START--------- */
.lookbook {
  position: relative;
}

.lookbook .boy-lookbook {
}

.lookbook .lookbook .lookbook-image img {
  width: 570px;
  height: 570px;
}

.lookbook .lookbook .lookbook-image .absolute-title {
  position: absolute;
  bottom: -114px;
  left: 50%;
  transform: translateX(-50%);
}

/* ------------LOOKBOOK SECTION-END--------- */

/* --------------------------------HOME-PAGE-2 CSS END---------------------------------- */
/* --------------------------------SHOP-PAGE-CSS-START ---------------------------------- */
/* -------new-items-start------- */

.new-itemss {
  padding-top: 120px;
  padding-bottom: 50px;
}

/* -------new-items-End------- */
/* -------new-product-items-start------- */

.new-product-items {
}
.new-product-items .signle-product-items {
  position: relative;
  height: 375px;
}

.new-product-items .signle-product-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-product-items .signle-product-items .offers-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  z-index: 5;
}

.new-product-items .signle-product-items .offers-text p {
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  background-color: #5064fa;
  color: #fff;
}
.new-product-items .signle-product-items .offers-text-seecond p {
  background-color: #fad232;
}

/* hover-part-start */
.new-product-items .signle-product-items .items-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 80%);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
  transition: 0.3s;
}
.new-product-items .signle-product-items:hover .items-hover {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.new-product-items .signle-product-items .items-hover .cart-icon {
}
.new-product-items .signle-product-items .items-hover .cart-icon button {
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}
.new-product-items .signle-product-items .items-hover .rating-icon {
}
.new-product-items .signle-product-items .items-hover .rating-icon i {
  font-size: 0.75rem;
  line-height: 1.83;
}
/* hover-part-end */

.new-product-items .signle-product-items-description {
  margin-top: 20px;
  margin-bottom: 40px;
}
.new-product-items .signle-product-items-description h5 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.new-product-items .signle-product-items-description p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: var(--primary-color);
  margin-top: 4px;
}

/* -------new-product-items-END------- */
/* -------PAGINATION-START------- */
.pagination {
  padding-bottom: 100px;
  padding-top: 60px;
}
.pagination .pagination-wrapper {
}
.pagination .pagination-wrapper ul {
  display: flex;
  align-items: center;
}
.pagination .pagination-wrapper ul li {
  margin-right: 30px;
}

.pagination .pagination-wrapper ul li a {
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  color: var(--primary-color);
}
.pagination .pagination-wrapper ul li a.active {
  color: var(--body-color);
}
.pagination .pagination-wrapper ul li a:hover {
  color: var(--body-color);
}
.pagination .pagination-wrapper ul li a i {
  font-size: 0.675rem;
}

/* -------PAGINATION-END------- */
/* -------SHIPPING-INFO-START------- */
.shipping-info {
  padding-bottom: 120px;
}

.shipping-info .shipping-info-content {
  border: 1px solid var(--body-color);
  padding: 50px 0 36px 0;
}

.shipping-info .shipping-info-content h4 {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.shipping-info .shipping-info-content p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  margin-top: 14px;
}

.shipping-info .shipping-info-content a {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  color: #1ba3d9;
  margin-top: 28px;
  display: inline-block;
}
.shipping-info .shipping-info-content a:hover {
  text-decoration: underline;
}

.shipping-info .shipping-info-content a i {
  font-size: 0.65rem;
}

/* -------SHIPPING-INFO-END------- */
/* -------NEWSLATTER-SERVICE-START------- */
.newslatter-service {
  padding-bottom: 60px;
}

.newslatter-service .newslatter-bg-wrapper {
  background-image: url(../img/fashion.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 62px 40px;
  position: relative;
}
.newslatter-service .newslatter-bg-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 60%;
  content: "";
}

.newslatter-service .newslatter-bg-wrapper .newslatter-form {
  position: relative;
  z-index: 100;
}

.newslatter-service .newslatter-bg-wrapper .newslatter-form h2 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  line-height: 1.18;
  margin-bottom: 0;
  color: #fff;
}

.newslatter-service .newslatter-bg-wrapper .newslatter-form p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 500;
  width: 70%;
  color: #fff;
}

.newslatter-service .newslatter-bg-wrapper .newslatter-form .sign-up {
  margin: 30px 0 40px 0;
}

.newslatter-service .newslatter-bg-wrapper .newslatter-form .sign-up form {
  position: relative;
}

.newslatter-service
  .newslatter-bg-wrapper
  .newslatter-form
  .sign-up
  form
  input[type="email"] {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  width: 100%;
  padding: 18px 26px;
  max-height: 60px;
  border: none;
}

.newslatter-service
  .newslatter-bg-wrapper
  .newslatter-form
  .sign-up
  form
  button {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 40px;
  border: 1px solid transparent;
  background-color: #cf2226;
  color: #fff;
  border: none;
  display: inline-block;
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
}
.instagram-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  position: relative;
}

.instagram-part .instagram-part-photo {
}

.instagram-part .instagram-part-photo img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.instagram-part .absolute-text-part a {
  background-color: var(--body-color);
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  color: #fff;
  padding: 2px 6px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* -------NEWSLATTER-SERVICE-END------- */

/* -------FOOTER-START------- */
footer {
  padding-bottom: 20px;
}
footer .footer-menu {
}
footer .footer-menu ul {
  display: flex;
  align-items: end;
  gap: 20px;
}

footer .footer-menu ul li {
}

footer .footer-menu ul li a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  color: var(--primary-color);
}

footer .footer-menu ul li a h2 {
  color: var(--body-color);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1;
}
footer .footer-right ul {
  justify-content: flex-end;
  align-items: end;
}
/* -------FOOTER-END------- */

.back-to-top {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.back-to-top:hover {
  color: #fff;
}

/* --------------------------------SHOP-PAGE-CSS-END---------------------------------- */

/* --------------------------------SHOP-PAGE-2-CSS-START ---------------------------------- */

/* -----------Main-banner-section-start---------- */
.main-banner {
  padding-bottom: 30px;
}

.main-banner .main-banner-content {
  position: relative;
}

.main-banner .main-banner-content .main-banner-content-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.main-banner .main-banner-content .main-banner-content-img {
  position: relative;
}

.main-banner .main-banner-content .main-banner-content-img::before {
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  opacity: 30%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.main-banner
  .main-banner-content
  .main-banner-content-img
  .main-banner-content-img-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.main-banner
  .main-banner-content
  .main-banner-content-img
  .main-banner-content-img-title
  h1 {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 900;
}
.main-banner
  .main-banner-content
  .main-banner-content-img
  .main-banner-content-img-title
  p {
  font-family: "Playfair Display", serif;
  font-style: italic;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
  font-size: 1rem;
  margin-top: 10px;
}
/* -----------Main-banner-section-end---------- */

/* -------------PRODUCT-CATAGORY-START------------- */
.product-catagory {
}
.product-catagory .catagory-content {
}
.product-catagory .catagory-content .content-title {
  position: relative;
}
.product-catagory .catagory-content .content-title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -20px;
  left: 0;
  background-color: var(--primary-color);
  opacity: 30%;
}

.product-catagory .catagory-content .content-title h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0;
}

.product-catagory .catagory-content .catagory-list {
  margin-top: 40px;
}

.product-catagory .catagory-content .catagory-list ul {
}

.product-catagory .catagory-content .catagory-list ul li {
}

.product-catagory .catagory-content .catagory-list ul li a:hover {
  margin-left: 10px;
  color: var(--body-color);
  font-weight: 700;
  transition: 0.4s all;
}

.product-catagory .catagory-content .catagory-list ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  font-size: 0.875rem;
  line-height: 2.14;
}
.product-catagory .catagory-content .catagory-list ul li a span {
  font-size: 0.625rem;
  line-height: 3;
}

/* ----color-start----- */

.product-catagory .catagory-content .content-color-title {
  margin-top: 46px;
  margin-bottom: 18px;
}
.product-catagory .catagory-content .content-color-title h4,
.product-catagory .catagory-content .feature-section .feature-title h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--body-color);
  margin-bottom: 0;
}
.product-catagory .catagory-content .content-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-catagory .catagory-content .content-color .color {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
}
.product-catagory .catagory-content .content-color .color:hover {
  border: 1px solid var(--body-color);
  cursor: pointer;
}
.product-catagory .catagory-content .content-color .color.color-1 {
  background-color: #b1d089;
}
.product-catagory .catagory-content .content-color .color.color-2 {
  background-color: #c0e6ea;
}
.product-catagory .catagory-content .content-color .color.color-3 {
  background-color: #fdc9c2;
}
.product-catagory .catagory-content .content-color .color.color-4 {
  background-color: #f16b6b;
}
.product-catagory .catagory-content .content-color .color.color-5 {
  background-color: #f9be79;
}
/* ----color-end----- */

/* ----feature-product-start---- */
.product-catagory .catagory-content .feature-section {
}
.product-catagory .catagory-content .feature-section .feature-title {
  margin-bottom: 18px;
  margin-top: 20px;
}
.product-catagory .catagory-content .feature-section .feature-title h4 {
}

.product-catagory .catagory-content .feature-section {
}
.product-catagory .catagory-content .feature-section .feature-product {
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product-img {
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product-img
  img {
  width: 100px;
  height: 120px;
  object-fit: contain;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description {
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description
  h5 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description
  p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: var(--primary-color);
  margin-top: 4px;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description
  .offers-text {
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description
  .offers-text
  p {
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  background-color: #5064fa;
  color: #fff;
  margin-top: 12px;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-descriptiondetail
  .offer-text-green
  p {
  background-color: #b1d089;
  display: inline-block;
  width: 40%;
}
.product-catagory
  .catagory-content
  .feature-section
  .feature-product
  .feature-single-product
  .feature-single-product-description
  .offer-text-yellow
  p {
  background-color: #fad232;
  display: inline-block;
  width: 50%;
}
/* ----feature-product-End---- */

/* -------------PRODUCT-CATAGORY-END------------- */

/* --------------------------------SHOP-PAGE-2-CSS-START ---------------------------------- */
/* ----------------------------------PRODUCT-DETAILS-1-CSS-START---- ---------------------------------- */
/* --------product-detail-Start--------- */
.product-detail {
  padding-top: 100px;
}

/* product-detail-left-img-section-start---- */

.product-detail .product-detail-content {
}

.product-detail .product-detail-content .product-detail-content-img {
  position: relative;
}
.product-detail
  .product-detail-content
  .product-detail-content-img:hover
  .image-hover-icon {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.product-detail .product-detail-content .product-detail-content-img img {
  width: 100%;
  height: 675px;
  object-fit: cover;
}
.product-detail
  .product-detail-content
  .product-detail-content-img
  .image-hover-icon {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 60%);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.product-detail
  .product-detail-content
  .product-detail-content-img
  .image-hover-icon
  button {
  background-color: rgba(0, 0, 0, 80%);
  color: #fff;
  font-size: 1.5rem;
  line-height: 0.915;
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
}
/* --------SLIDER--------------- */

.product-detail .product-detail-content .small-image-slider {
  display: flex;
  align-items: center;
}
.product-detail .product-detail-content .small-image-slider .single-item-img {
}

.product-detail
  .product-detail-content
  .small-image-slider
  .single-item-img
  img {
  width: 100px;
  height: 120px;
  object-fit: contain;
}

.product-detail .product-detail-content .small-image-slider.slider-nav i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: var(--primary-color);
  width: 15px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.675rem;
  color: #fff;
}
.product-detail .product-detail-content .small-image-slider.slider-nav i:hover {
  background-color: var(--body-color);
  color: #fff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.product-detail
  .product-detail-content
  .small-image-slider.slider-nav
  i.fa-solid.fa-chevron-left.slick-arrow {
  left: 0;
}

.product-detail
  .product-detail-content
  .small-image-slider.slider-nav
  i.fa-solid.fa-chevron-right.slick-arrow {
  right: 0;
}

/* --------SLIDER--------------- */

/* product-detail-left-img-section-END---- */

/* product-detail-Right-DESCRIPTION-section-start---- */
.product-detail .product-detail-description {
}
.product-detail .product-detail-description {
}
.product-detail .product-detail-description h1 {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--body-color);
}

.product-detail .product-detail-description .offer-text {
  margin: 8px 0 20px 0;
}

.product-detail .product-detail-description .offer-text p {
  font-family: "Lato", sans-serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  background-color: #fad232;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
}

.product-detail .product-detail-description .price-tag {
}

.product-detail .product-detail-description .price-tag p {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0;
}

.product-detail .product-detail-description .item-details {
  margin: 25px 0 16px 0;
}

.product-detail .product-detail-description .item-details p {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  line-height: 2.14;
  color: var(--body-color);
  margin-bottom: 0;
}

.product-detail .product-detail-description .item-ratings {
}

.product-detail .product-detail-description .item-ratings i {
  font-size: 1rem;
  line-height: 1.375;
  color: #fad232;
}

.product-detail .product-detail-description .stock-available {
}

.product-detail .product-detail-description .stock-available ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 26px;
  margin-bottom: 24px;
}

.product-detail .product-detail-description .stock-available ul li {
  position: relative;
  font-size: 0.75rem;
  /* line-height: 7; */
  color: var(--primary-color);
}

.product-detail .product-detail-description .stock-available ul li:last-child {
  margin-left: -18px;
}

.product-detail
  .product-detail-description
  .stock-available
  ul
  li:last-child::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -8px;
  height: 12px;
  border-left: 1px solid var(--primary-color);
  opacity: 80%;
}

.product-detail .product-detail-description .stock-available ul li a {
  color: var(--primary-color);
}
.product-detail .product-detail-description .stock-available ul li a:hover {
  color: var(--body-color);
  transition: 0.3s all;
}

.product-detail .product-detail-description .stock-available ul li a i {
  padding-left: 4px;
}

/* cart-section */
/* .product-detail .product-detail-description .cart-section {
  display: flex;
  align-items: center;
  gap: 2px;
}
.product-detail .product-detail-description .cart-section input[type="number"] {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 14px 0px; 
  border: 1px solid rgba(149, 149, 149, 40%);
}
.product-detail .product-detail-description .cart-section {
}
.product-detail .product-detail-description .cart-section .size-chart {
  position: relative;
  font-size: 0.875rem;
  display: flex;
}

.product-detail
  .product-detail-description
  .cart-section
  .size-chart
  select:focus {
  outline: none;
}

.product-detail .product-detail-description .cart-section .size-chart select {
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(149, 149, 149, 40%);
   padding: 0px 26px 0 20px; 
  height: 60px;
  -webkit-appearance: none;
}

.product-detail
  .product-detail-description
  .cart-section
  .size-chart
  select
  option {
}

.product-detail .product-detail-description .cart-section button.add-cart {
  display: inline-block;
  border: 1px solid var(--body-color);
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  line-height: 1.7;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: #fff;
  padding: 14px 26px;
  margin-left: 20px;
} */

.product-detail .product-detail-description .cart-section {
}

.product-detail .product-detail-description .cart-section form {
  border: none;
  display: flex;
  padding: 0px 0px;
  gap: 1px;
  max-height: 60px;
}

.product-detail .product-detail-description .cart-section form input:focus,
.product-detail .product-detail-description .cart-section form select:focus {
  box-shadow: none;
  border: 1px solid rgba(149, 149, 149, 40%);
}

.product-detail
  .product-detail-description
  .cart-section
  form
  input[type="number"] {
  width: 60px;
  height: 60px;
  text-align: center;
  /* padding: 14px 0px; */
  border: 1px solid rgba(149, 149, 149, 40%);
  border-radius: 0px;
}

.product-detail .product-detail-description .cart-section form select {
  width: 132px;
  border-radius: 0px;
}

.product-detail .product-detail-description .cart-section form button.add-cart {
  display: inline-block;
  border: 1px solid var(--body-color);
  font-family: "Playfair Display", serif;
  font-size: 1.125rem;
  line-height: 1.7;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: #fff;
  padding: 14px 26px;
  margin-left: 20px;
}

/* cart-section */

/* social */
.product-detail .product-detail-description .wishlist {
  display: flex;
  align-items: center;
  gap: 54px;
  padding: 46px 0;
}
.product-detail .product-detail-description .wishlist .add-to-wishlist p,
.product-detail .product-detail-description .wishlist .social p {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--body-color);
}

.product-detail .product-detail-description .wishlist p a {
  padding-left: 6px;
}

.product-detail .product-detail-description .wishlist .social {
  display: flex;
  align-items: center;
}

.product-detail .product-detail-description .wishlist .social p {
  margin-right: 10px;
}

.product-detail .product-detail-description .wishlist .social a {
  font-size: 0.775rem;
  margin-right: 10px;
}

.product-detail .product-detail-description .wishlist .social a:last-child {
  margin-right: 0;
}

.product-detail .product-detail-description .wishlist .social a:hover,
.product-detail .product-detail-description .wishlist p a:hover {
  color: var(--body-color);
}

/* social */

/* ------description-tabs-start--------- */

.description-tabs {
  font-family: "Lato", sans-serif;
}

.description-tabs ul.nav {
}

.description-tabs ul.nav li.nav-item {
}

.description-tabs ul.nav li.nav-item button {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 30px;
}

.description-tabs ul.nav li.nav-item button.nav-link.active {
  color: var(--body-color);
}

.description-tabs #myTabContent {
  color: var(--primary-color);
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 36px 30px 40px 30px;
  font-size: 0.875rem;
  line-height: 2.14;
}

.description-tabs #myTabContent p span {
  padding-top: 16px;
}

/* .description-tabs ul.nav li.nav-item.show .nav-link {
} */
/* ------description-tabs-END--------- */
/* product-detail-Right-DESCRIPTION-section-END---- */

/* --------product-detail-END--------- */

/* -----product-wear-start---- */
.product-wear {
  padding: 116px 0 50px 0;
}
.product-wear .product-wear-title {
}
.product-wear .product-wear-title h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* -----product-wear-end---- */

.shipping-padding {
  padding-top: 106px;
}
/* ----------------------------------PRODUCT-DETAILS-1-CSS-END ---------------------------------- */
